@import 'src/themes/custom-palletes';

app-navbar {
    mat-nav-list {

        // keep in mind "truncated" elements when increase/decrease width
        max-width:20em;
        .mat-list-item-content {
            flex-direction: row-reverse !important;
            .mat-icon {
                margin-right: 0.5em;
            }
        }
    }
}
h3 {
    color: $mat-redex-grey-A100;
}