app-product-viewer-graph .chartElement.xs { min-height: 65vh; min-width:90vw; border:1px solid red;}
app-product-viewer-graph .chartElement.sm { min-height: 80vh; min-width:90vw; border:1px solid green;}
app-product-viewer-graph .chartElement.md { min-height: 70vh; min-width:60vw; border:1px solid blue;}
app-product-viewer-graph .chartElement.lg { min-height: 75vh; min-width:60vw; border:1px solid yellow;}
app-product-viewer-graph .chartElement.xl { min-height: 80vh; min-width:40vw; border:1px solid orange;}
app-product-viewer-graph .chartElement {border:none !important;}