.flex-contact-toolbar { height:100%;text-align: center;}
.flex-contact-toolbar .flex-items-container { height:100%; align-items: center;}
.flex-contact-toolbar .flex-icon div {   background-size: cover;  width:18vw;  height:18vw;  margin:0 auto 0 auto;}
.flex-contact-toolbar .flex-icon div img { width: 100%;  }
