$layoutGenericZindex: 1;
$layoutAutocompleteSearchZIndex: 2;
$layoutSideFormPopoverZIndex:3;
// used to prevent route transition to pass over navBarSide
$navBarLeftOverlayPageContainer: 8;
$navBarLeftSideZIndex: 9;
$waitIndicatorZIndex: 10;
