<mat-sidenav-container>
  <mat-sidenav [opened]="isMenuOpen" (openedChange)="onMenuOpenChanged($event)">
    <app-navbar [isOpen]="isMenuOpen" (navBarCloseClickEvent)="onMenuToggleClick($event)"></app-navbar>
  </mat-sidenav>
  <app-busy-indicator></app-busy-indicator>
  <app-error-unhandled-display [errorUnhandled]="errorUnhandled"></app-error-unhandled-display>
  <div class="container-main">
    <header>
      <app-toolbar [isMenuOpen]="isMenuOpen" (toggleEvent)="onMenuToggleClick($event)"></app-toolbar>
    </header>
    <main [@routerTransition]="routerTransitionStateGet(o)">
      <div class="main-container">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </main>
    <footer>
      <!-- <app-footer></app-footer> -->
    </footer>
  </div>
</mat-sidenav-container>
