<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <div>
      <a href="privacy" class="my-mat-foreground-text">
        <span i18n="Footer Privacy link|Privacy">Privacy</span>
      </a>
    </div>
    <div>
      <a href="legal" class="my-mat-foreground-text">
        <span i18n="Footer Legal link|Legal">Legal</span>
      </a>
    </div>
    <div>
      <div class="truncate-text-flex" i18n="Footer Copyright link|Copyright">copyright © 2020, Würth Elektronik Group , All rights reserved</div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
